.app {
  text-align: center;
}

.app__container {
  position: relative;
  max-width: 1440px;
  height: 100%;
  padding: 28px 28px 0;
  margin: 0 auto;
}

.app__title {
  font-weight: 500;
}

.app__main {
  min-height: calc(100vh - 180px);
}
