.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 34px;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo-icon {
  display: block;

  margin-right: 14px;
  width: 6.8rem;
  height: 6.7rem;

  background-image: url('../../assets/images/logo-no-text-compressed.svg');
  background-repeat: no-repeat;
  background-position: center 4px;
}

.header__logo-text {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.header__link {
  margin: 0 14px;
  color: #0f052f;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.header__login {
  display: inline-block;
  width: 6.8rem;
  height: 6.7rem;

  border-radius: 10px;
  transition: box-shadow 0.2s ease;

  background-image: url('../../assets/images/login-comressed.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header__login:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
