.rating {
  padding: 5px;
}
.rating__lines {
  background: rgba(231, 237, 237, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
}

.rating__name {
  width: 50px;
  padding-right: 10px;
}

.stars__rating {
  display: flex;
  justify-content: center;
}
