.map__wrapper {
    width: 1230px;
    height: 445px;
}

.marker__btn {
    cursor: pointer;
    background: none;
    border: none;
}

.marker__btn img {
    width: 15px;
    height: 15px;
}

.polygon {
    border: 1px solid brown;
}
.polygon:hover {
    opacity: 0.5;
}