.auth-page-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-block {
  width: 30%;
}

.left-block {
  width: 70%;
}
